 <footer class="footer">
    
                    <div class="footer-block author">
                        <ul>
                            <li> Creado por
                                <a href="#">SIAD COMPANY</a>
                            </li>
                 
                            <li>
                                <a href="#">Mantente en contacto siadcompany@gmail.com</a> 
                            </li>
                          
                        </ul>
                    </div>
                </footer>